
.form-control {
  width: 100%;
  background-color: #fff;
  border-color: #000000;
  font-family: Lato-Light; 
}

.form-control:focus {
  /*border-color: #fff !important;*/
  background-color: #fff;
  box-shadow: 0 0 5px #fff !important;
} 

/*
.form-group {
  margin-top: 100px;
}*/
 
/*
.no-border {
  border: 0;
  box-shadow: none;
}*/

.g-signin2 {
  width: 100%;
}
      
.g-signin2 > div {
  margin: 0 auto;
}
  