html, body {
    font-family: Lato-Light;
    /*margin: 0;*/
}

.btn {
    /*margin: 1em;*/
    border-color: #000000;
    background-color: #ffffff;
}

.center {
    text-align: center
}

.nav-link, .navbar-brand { 
    color: #000000; 
    /*background-color: #000000;*/
    background-color: #ffffff;
    cursor: pointer; 
    font-family: Lato-Light;
}

.navbar, .navbar-brand:hover {
    background-color: #ffffff;
    color: #000000;
}

.nav-container {
    padding-bottom: 20;
}

.nav-link{ 
    margin-right: 1em !important;
    /*margin-bottom: 1px;*/
}

/* change for customizing active link, maybe change .nav-link:after?? for shift issue*/
.nav-link:hover { 
    color: #9c9c9c; 
    /*border-bottom: 1px solid #ffffff;*/
}

.navbar-collapse { 
    justify-content: flex-end;
}

.navbar-toggler { 
    background: #000000 !important;
}

.input-group {
    width: 50%;
}

.list-group {
    width: 50%;
}

.alert {
    width: 50%;
}

.flex-column {
    max-width: 260px;
}

img {
    margin: 5px;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px; 
}