<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/login.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <meta name="google-signin-scope" content="profile email https://www.googleapis.com/auth/calendar">
  <meta name="google-signin-client_id"
    content="410882968128-fe1h08ql8v44krqvba1u13s11rrqsvqe.apps.googleusercontent.com">
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://apis.google.com/js/client.js?onload=load"></script>
</head>
<!-- navbar -->

<body>
  <nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand">APP NAME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-4">
        <li class="nav-item">
          <a class="nav-link" data-value="about" href="/">ABOUT</a> </li>
        <li class="nav-item">
          <a class="nav-link " data-value="login" href="/account/login">LOG IN</a> </li>
    </div>
  </nav>

  <div class="row h-25 justify-content-center align-items-center">
    <form class="form-horizontal">
      <!--
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="">
        </div>
        -->
    </form>
  </div>

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <p class="center">Sign into 'app name'</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <!--<div class="g-signin2" data-onsuccess="onSuccess" data-theme="light"></div>-->
        <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/calendar%20https://www.googleapis.com/auth/userinfo.profile%20https://www.googleapis.com/auth/userinfo.email&access_type=offline&include_granted_scopes=true&redirect_uri=https://a0813af8.ngrok.io/google&response_type=code&client_id=410882968128-6lih5vvt48bpsgb0omnpmo0h54v3jnhv.apps.googleusercontent.com"><button class="btn btn-default">Log in</button></a>
      </div>
    </div>
    <!--<div class="row">
        <div class="col text-center">
          <button class="btn btn-default" onclick="signOut()">Log out</button>
        </div>
      </div>-->
  </div>

  <script>

  </script>
</body>

</html>