<html>

<head>
  <script src="../static/scripts/lib/jquery.min.js"></script>
  <script src='../fullcalendar/packages/core/main.min.js'></script>
  <script src='../fullcalendar/packages/daygrid/main.min.js'></script>
  <script src='../fullcalendar/packages/timegrid/main.min.js'></script>
  <script src='../fullcalendar/packages/interaction/main.min.js'></script>
  <script src='../fullcalendar/packages/moment/main.min.js'></script>
  <link href='../fullcalendar/packages/core/main.min.css' rel='stylesheet' />
  <link href='../fullcalendar/packages/daygrid/main.min.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand">timetable</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-4">
        <li class="nav-item">
          <a class="nav-link " data-value="schedule" href="/schedule">SCHEDULE</a> </li>
        <li class="nav-item">
          <a class="nav-link " data-value="profile" href="/profile">PROFILE</a> </li>
        <li class="nav-item">
          <a class="nav-link " data-value="friends" href="/friends">FRIENDS</a> </li>
        <li class="nav-item">
          <a class="nav-link " data-value="logout" href="#" onclick="signOut()">LOG OUT</a> </li>
      </ul>
    </div>
  </nav>

  <p class="center">''</p>
  <p class="center">''</p>

  <div class="container">
    <p></p>
    <div class="row">
      <div class="col text-center">
        <p></p>
        <p>Find mutually available times to hang out with friends! First, add friends to the meeting, and then select
          dates.</p>
        <p></p>
        <p>ADD FRIENDS</p>
        <div class="row justify-content-center align-items-center">
          <div class="input-group">
            <input placeholder='search by email' id='searchEmail' type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" onclick="addToMeeting()">ADD</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <ul id=members class="list-group mx-auto justify-content-center">
          <ul>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="alert alert-dismissible fade" role="alert" id="alert_text">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div id='calendar' style="width: 50%; display: inline-block;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p></p>
        <button class="btn btn-default" type="button" onclick="findOptions()">FIND OPTIONS</button>
        <p></p>
      </div>
    </div>
  </div>
  <div class="row">
    <p></p>
  </div>
  <script>
    let startDate = "";
    let endDate = "";
    let members = new Array();
    let added = [];

    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['interaction', 'dayGrid', 'timeGrid'],
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        selectable: true,
        editable: true,
        select: function (info) {
          //alert('selected ' + info.startStr + ' to ' + info.endStr);
          startDate = info.startStr;
          endDate = info.endStr;
        }
      });

      calendar.render();
    });

    function findOptions() {
      //console.log(members + startDate + endDate)
      $.post('/schedule/options', {
        members: members,
        startDate: startDate,
        endDate: endDate
      }, function (data, status) {
        console.log('reaches')
        console.log(data)
        
        let events = [];
        for (let i = 0; i < data.length; i++) {
          let start = data[i].start;
          if (start.length < 12) {
            start += 'T04:00:00Z'
          }
          let end = data[i].end;
          events.push({start: start, end: end, allDay: false})
        }
        console.log(events)
        //$("#calendar").empty()
        document.getElementById('calendar').innerHTML = "<div id=\'calendar\' style=\"width: 50%; display: inline-block;\"></div>";
        var calendarEl = document.getElementById('calendar')
        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: ['interaction', 'dayGrid', 'timeGrid'],
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          selectable: true,
          editable: true,
          select: function (info) {
            //alert('selected ' + info.startStr + ' to ' + info.endStr);
            startDate = info.startStr;
            endDate = info.endStr;
          },
          events: events
        });
        calendar.render()

      });
    }

    function addToMeeting() {
      const base = "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\" onclick=\"closeAlert()\">" +
        "<span aria-hidden=\"true\">&times;</span> </button>";
      const email = $('#searchEmail').val();
      $.post('/schedule/addFriend', { friend: email }, function (data, status) {
        if (added.includes(email)) {
          $('.alert').addClass('show alert-warning');
          document.getElementById('alert_text').innerHTML = 'You already added them!' + base;
        } else {
          switch (data) {
            case 'INVALID':
              $('.alert').addClass('show alert-warning');
              document.getElementById('alert_text').innerHTML = 'Invalid user!' + base;
              break
            case 'VALID':
              $('#members').append('<li class=\'list-group-item\'>' + email + '</li>');
              added.push(email);
              //TO DO:check that members does not already contain email
              members.push(email);
              break;
            case 'NOT_FRIENDS':
              $('.alert').addClass('show alert-warning');
              document.getElementById('alert_text').innerHTML = 'Oh no! You are not yet friends!' + base;
              break
          }
        }
      });
    }

    function closeAlert() {
      $('.alert').removeClass('show');
      if ($('.alert').hasClass('alert-warning')) {
        ($('.alert').removeClass('alert-warning'))
      }
      if ($('.alert').hasClass('alert-success')) {
        ($('.alert').removeClass('alert-success'))
      }
    }

    // Sign out the user
    function signOut() {
      $.get('/account/logout', function (data, status) {
        window.location.href = ('/');
      });
    }

  </script>
</body>

</html>